<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <title>
    {%if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.typekit.net/zbv8hil.css">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  {%- feed_meta -%}

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
  <meta property="og:site_name" content="imkylelambert.com">
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
  <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
</head>
<body>
  <nav class="main-nav">
    <a href="/"><img class ="logo" src="/img/logo-kyle.svg" alt="Kyle Lambert"></a>
    <ul>
      <li><a href="https://twitter.com/imkylelambert" target="_blank">@imkylelambert</a></li>
    </ul>
  </nav>
