nav {
  padding: 1rem;
  margin-bottom: 3rem;

  ul {
    background: $light-green;
    border: 1px solid $black;
    float: right;
    list-style: none;
    padding: .6rem 1.2rem;
    font-family: $header-font;

    li {
      margin: 0 auto;
      font-size: 1.1rem;
      font-weight: 600;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }
}

.logo {
  max-width: 87px;
  top: 3px;
  position: relative;
}

.post-wrap {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 15px;

  .date {
    font-family: $header-font;
    font-size: 1rem;
    font-weight: 200;
    color: lighten($black, 50%);
    margin-bottom: 1rem;
  }

  img {
    margin-top: 1rem;
    border: 2px solid $black;
    width: 100%;

    @media only screen and (min-width: 800px) {
      width: 120%;
      margin-left: -10%;
    }
  }

  &:before {
    @media only screen and (min-width: 1100px) {
      content: "";
      width: 140px;
      height: 390px;
      background-image: url(/img/arm.svg);
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: fixed;
      left: -15px;
      top: 220px;
    }
  }
}

.home-wrap {
  h2 {
    font-weight: 300;
  }
}

.footer-text {
  font-size: 1rem;
  font-family: $header-font;
  font-weight: 600;
  text-align: center;
  color: #fff;
  width: 100%;
  background: $black;
  margin: 4rem 0 0;
  padding: .5rem 0;
}
